:root{
    --main-red-color:#ff5858;
    --secondary-red-color:#f1743e;

    --main-dark-color: #011;
    --secondary-dark-color: #056060;
    --thirdary-dark-color: #0a9797;

    --main-brown-color:#6e2121;

    --main-light-color: #fee;
    --secondary-light-color: #15e7e7;
    --main-white-color: #fef;
}