@import "/css/vars.css";

/* Location Current Weather Sunrise/Sunset */
    .location_currentWeather_sunrise_sunset--SECTION .location_currentWeather_sunrise_sunset--CONTENT {
        display: flex;   
        justify-content: space-between;
        gap: clamp(1rem, calc(0.1rem + 1.6vw), 5rem);
    }

    @media only screen and (max-width: 550px) {
        .location_currentWeather_sunrise_sunset--SECTION .location_currentWeather_sunrise_sunset--CONTENT{
            flex-direction: column;
        }
    }

    .location_currentWeather_sunrise_sunset--CONTENT .location_currentWeather_sunrise_sunset--SPERATER{
        width: 2px;
        background-color: var(--secondary-light-color);
    }

    @media only screen and (max-width: 550px) {
        .location_currentWeather_sunrise_sunset--CONTENT .location_currentWeather_sunrise_sunset--SPERATER {
            visibility: hidden;
        }
    }

    .location_currentWeather_sunrise_sunset--CONTENT .location_currentWeather_sunrise_sunset--LIST{
        flex: 1 1 100%;
    }

    .location_currentWeather_sunrise_sunset--CONTENT .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--ICON-CONTAINER{
        width: clamp(4rem, calc(1.9rem + 3.6vw), 8rem);
        aspect-ratio: 1;
    }

    .location_currentWeather_sunrise_sunset--CONTENT .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--ICON-CONTAINER img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .location_currentWeather_sunrise_sunset--CONTENT .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--LIST-ITEM{
        padding-block: 1.5rem;
        border-bottom: 1px solid var(--secondary-light-color);
    }

    .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--LIST-ITEM h4{
        text-transform: capitalize;
    }

    .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--LIST-ITEM span{
        text-transform: capitalize;
    }

    .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--LIST-ITEM:first-of-type{
        padding-top: 0;
    }

    .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--LIST-ITEM:last-of-type{
        border: none;
    }

    .location_currentWeather_sunrise_sunset--LIST .location_currentWeather_sunrise_sunset--LIST-ITEM .location_currentWeather_sunrise_sunset--ITEM-CONTENT{
        display: flex;
        justify-content: space-between;
    }
/* -------------------------------------------- */